.mission-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: aliceblue;
    text-decoration: none;
    color: black;
}

.mission-image {
    width: 70px;
    margin-right: 20px;
}

.mission-details {
    flex: 1;
}

.search {
    margin-left: 10px;
}

