
<div *ngIf="mission">
  <div class="mission-details">
    <img src="{{ mission.links.mission_patch_small }}" alt="{{ mission.mission_name }} logo" class="mission-image">
    <h2>Mission - {{ mission.mission_name }}</h2>
    <div>Name: {{ mission.mission_name }} </div>
    <div>Launch Year: {{ mission.launch_year }}</div>

    <h2>Rocket:</h2>
      <div>Name: {{ mission.rocket.rocket_name }} </div>
      <div>Type: {{ mission.rocket.rocket_type }} </div>
    

    <h2>Launch Site:</h2>
      <div>Name: {{ mission.launch_site.site_name_long }} </div>

    <h2>Launch Details:</h2>
      <div>Mission Details: {{ mission.details }}</div>
    
    <button (click)="goBack()">Back</button>

  </div>
</div>

